<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- URL de conexión -->
        <property name="hibernate.connection.url">jdbc:mysql://sql7.freemysqlhosting.net:3306/sql7744626</property>
        <property name="hibernate.connection.username">sql7744626</property>
        <property name="hibernate.connection.password">axcWNzMuCb</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Muestra las consultas SQL ejecutadas -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Mantiene los datos y los actualiza si es necesario -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Si utilizo anotaciones de JPA, ya no necesito el archivo de mapeo xml -->
        <!-- <mapping resource="employee.hbm.xml"/> -->

        <!-- Mapeo de la Entidad Employee -->
        <mapping class="org.example.entities.Employee"/>

    </session-factory>
</hibernate-configuration>
